@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-size: 1vw;
}

body {
  background: linear-gradient(to bottom, #12071f, #2f204e);
  color: white;
  font-family: 'Outfit', system-ui, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1720px;
  padding-left: 5.2vw;
  padding-right: 5.2vw;
  margin-left: auto;
  margin-right: auto;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  padding-top: 5vh;
  padding-bottom: 5vh;
}


@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
